html{
    background-color: #f3f3f3;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
#main-header,
#main-header ul,
#main-header ul li,
#main-header ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#main-header:after,
#main-header > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#main-header {
  width: auto;
  border-bottom: 3px solid #3db2e1;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#main-header ul {
  background: #ffffff;
}
#main-header > ul > li {
  float: left;
}
#main-header.align-center > ul {
  font-size: 0;
  text-align: center;
}
#main-header.align-center > ul > li {
  display: inline-block;
  float: none;
}
#main-header.align-right > ul > li {
  float: right;
}
#main-header.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#main-header > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#main-header > ul > li.active > a,
#main-header > ul > li:hover > a,
#main-header > ul > li > a:hover {
  color: #ffffff;
}
#main-header > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#main-header > ul > li.active > a:after,
#main-header > ul > li:hover > a:after,
#main-header > ul > li > a:hover:after {
  background: #3db2e1;
}

#about-us {
    color: black;
    padding: 0 5em 0 5em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

#join-meetup {
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    font-weight: bold;
    color: #4169E1;
    padding: 0 auto 0 auto;
    margin: 0 auto .5em auto;
}

#info {
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-blend-mode: lighten;
}
#info a{
  text-decoration: none;
}

#btn {
  display: block;
  border-radius: 2px;
  background-color:  #4169E1;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 15px 35px;
  border: 0;
  margin: 55px auto 0;
  cursor: pointer;
}
#btn:hover{
  background-color: #3db2e1;
  color: #000;
}

#current{
	text-align: center;
	width: 100%;
	margin-top: 10px;
  margin-bottom: 0;
	color: #3db2e1;
}

.view-meetups {
    box-sizing: border-box;
    display: block;
    width: 80%;
    margin: 0 auto 1em auto;
    padding-bottom: 20px;
}
.clr {
    clear: both;
}


.entry {
    width: 31%;
    float: left;
    margin: 10px;
    height: 40%;
    background-image: url("images/shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;
    box-sizing: border-box;
}
figure.fige {
    display: block;
    width: 13.7em;
    height: 12em;
    background-color: #4169E1;
    padding: 5px;
}

figure.fige img {
    width: 97.5%;
    height: 10em;
    border: 1px solid #d6d6d6;
}

figcaption.name-meetup {
    background-image: url("images/icon.png");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #000;
}

/*For smaller screen*/
@media screen and (max-width: 600px) {
  #about-us {
      color: black;
      padding: 1px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: .8em;
  }
  .entry {
      width: 90%;
      float: left;
      margin: 1px auto 1px auto;
      height: 30%;
      background-image: url("images/shadow.png");
      background-repeat: no-repeat;
      background-position: bottom;
      box-sizing: border-box;
  }
  figure.fige {
      display: block;
      width: 15em;
      height: 60%;
      background-color: #e7e3d8;
      margin: 3px;
      padding: 1px;
  }
  figure.fige img {
      width: 95%;
      height: 10em;
      padding: .2em;
      border: 1px solid #d6d6d6;
  }

}

/* Sign in page styling */
.main-content{
  margin-bottom: 3em;
  margin-top: 1em;
}
.form-login{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font: bold 14px sans-serif;
    text-align: center;
}

.form-log-in-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.form-log-in-with-email .form-white-background{
    width: 120%;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 3rem 4rem;
    margin-bottom: 32px;
}

.form-log-in-with-email .form-row{
    text-align: left;
    margin-bottom: 2em;
}

.form-log-in-with-email .form-title-row{
    text-align: center;
    margin-bottom: 2.5em;
}

.form-log-in-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 2em;
    padding: 0 30px 15px;
    border-bottom: 2px solid #6caee0;
    margin:0;
}

.form-log-in-with-email .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 125px;
    text-align: right;
    padding-right: 1.5em;
}

.form-log-in-with-email input{
    color:  #5f5f5f;
    background-color: rgba(125, 125, 125, .1);
    box-sizing: border-box;
    width: 230px;
    font-size: 1em;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 12px;
    border: 1px solid #dbdbdb;
}

.form-log-in-with-email button{
    display: block;
    border-radius: 2px;
    background-color:  #4169E1;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 55px auto 0;
    cursor: pointer;
}

.form-log-in-with-email .form-forgotten-password,
.form-log-in-with-email .form-create-an-account{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
    display: inline-block;
}

.form-log-in-with-email .form-forgotten-password{
    color:  #4e9eda;
}

.form-log-in-with-email .form-create-an-account{
    color:  #7b9d62;
    background-color: #d6f0c3;
}

/* Signup form styling */
.form-register{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    font: bold 14px sans-serif;
    text-align: center;
}

.form-register-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.form-register-with-email .form-white-background{
    width: 105%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 3em 4em;
    margin: 1em auto 1em auto;
}

.form-register-with-email .form-row{
    text-align: left;
    margin-bottom: 2em;
}

.form-register-with-email .form-title-row{
    text-align: center;
    margin-bottom: 2.5em;
}

.form-register-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 2em;
    padding: 0 20px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-register-with-email .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 125px;
    text-align: right;
    padding-right: 1.5em;
}

.form-register-with-email input{
    color:  #5f5f5f;
    background-color: rgba(125, 125, 125, .1);
    box-sizing: border-box;
    font-size: 1em;
    width: 230px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 12px;
    border: 1px solid #dbdbdb;
}

.form-register-with-email .form-checkbox input{
    margin-left: 128px;
    margin-right: 10px;
    width: auto;
    vertical-align: top;
}

.form-register-with-email .form-row .form-checkbox span{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    width: 220px;
    margin: 0;
}

.form-register-with-email .form-checkbox span a{
    text-decoration: none;
    color:  #6caee0;
}

.form-register-with-email button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 55px auto 0;
    cursor: pointer;
}

.form-register-with-email .form-log-in-with-existing{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
    color: #7b9d62;
    background-color: #d6f0c3;
}



/* The footer section */
footer {
    background-color: #3db2e1;
    padding: 2px auto 3px auto;
    text-align: center;
}
